{
  "svn-server": "svnserver.jaspersoft.com",

  "release-cycle": "<test-release-name>",
  "feature-name": "<test-feature-name>",

  "jasperserver-branch": "<existed jrs ce branch name>",
  "jasperserver-pro-branch": "<existed jrs pro branch name>",

  "modules": [
    "bi-control",
    "bi-dashboard",
    "bi-report",
    "bi-repository",

    "js-sdk",
    "jrs-ui",
    "jrs-ui-pro"
  ]

}
